
input[type=text], select{
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    float: right;
  }
  
  
  label {
    padding: 20px 20px 20px 0;
    display: inline-block;
    width: 100%;
    text-align: left;
  }
  
  
#submit-button{
    background-color: #04AA6D;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }

#main-content{
  display: flex;
  width: 100%;
}

#graph-container{
  width: 50%;
}

#form-container{
  width: 50%;
}
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
      
    }
  }