body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    background-color: rgb(232, 232, 232);
  }

  .folder-container{
    background-color: white;
    padding: 10px;
    border: 3px solid rgba(21, 116, 16, 0.764);
    max-width: 200px;
    min-height: 70px;
    margin-left: 20px; /* added margin-left value */
}
.folders-heading{
    margin-left: 20px; /* or any other value you'd like */
    margin-top: 120px;
  }  

.folder-link {
    text-decoration: none;
    color: black;
    font-size: 30px;
    text-align: center;
}

.folder-form {
    display: flex;
    justify-content: flex-end;
}

.create-folder-btn {
    background-color: rgba(21, 116, 16, 0.764);
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}


.create-folder-input {
    border: none;
    background-color: rgba(21, 116, 16, 0.764);
    padding: 10px 20px;
    font-size: 16px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.create-folder-input::placeholder {
    color: #5CBF5C; 
  }

  .folder-select select {
    background-color: rgba(21, 116, 16, 0.764);
    border: none;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .submit-button {
    background-color: rgba(21, 116, 16, 0.764);
    border: none;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 2px; /* reduce margin-top value */
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
  }

.file-input input[type="file"] {
    background-color: rgba(21, 116, 16, 0.764);
    border: none;
    padding: 8px 5px;
    font-size: 16px;
    color: black;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width: 220px;

} 

.file-container {
    border: 3px solid  rgba(21, 116, 16, 0.764);
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    max-width: 1290px; /* adjust the value as needed */
    margin-left: auto;
    margin-right: auto;
  }

  .files-link{
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-align: center;
  }

  .file-header {
    font-family: "IBM Plex Sans", sans-serif;
    color: black;
    font-weight: normal;
    margin-left: 34px;
  }
  
  
  #container {
    width: 400px;
    height: 400px;
    background-color: black;
    margin: 0 auto;
  }
  
  #button-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 600px;
  }
  
  .nav-item {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: rgba(21, 116, 16, 0.764);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
