html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: rgb(232, 232, 232);

}

h2,
h3,
h5,
h6 {
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  /* padding-left: 20px; */
}

a.edit-graph{
  color: black;
  display: flex;
  display: none;
}

a.edit-graph:hover{
  text-decoration: underline;
}

.configure-btn{
  background-color: #35967c;
  color: white;
  padding: .75em;
  margin-left: 2%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,.1);
}

.configure-btn:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.2);
}

.comment-editing{
  background-color: rgb(255, 255, 255);
}

/* REFERENCE FOR CODE: https://stackoverflow.com/questions/2528462/how-to-set-readonly-property-of-textbox-from-css */
.comment-saved{
  background-color: rgb(232, 232, 232);
  resize: none;
  pointer-events: none;
  /* Comment out CSS below to style the saved comment boxes! */
  border-style: none; 
  box-shadow: none;
}

.title-editing{
  background-color: rgb(255, 255, 255);
  font-size: x-large;
  font-weight: bold;
}

/* REFERENCE FOR CODE: https://stackoverflow.com/questions/2528462/how-to-set-readonly-property-of-textbox-from-css */
.title-saved{
  text-align: center;
  min-height: 3em;
  background-color: rgb(232, 232, 232);
  font-size: 50px;
  font-weight: bold;
  resize: none;
  pointer-events: none;
  /* Comment out CSS below to style the saved comment boxes! */
  border-style: none; 
  box-shadow: none;
}

.toolbar{
  margin-bottom: 5em;
  margin-left: 1.9em;
}


#mainpage {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5em;
  margin-right: 5em;
}


.filter-box {
  float: right;
  width: 350px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #10794f;
  height: 70px;
}

.filter-box select {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  margin-top: 20px;
}

.mainpage-row {
  padding: 25 25 25 25;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,.3); */
  margin: 1em;
  background-color: rgb(255, 255, 255);
}

.mainpage-row-item {
  background-color: rgb(255, 255, 255);
  min-width: 200px;
  max-width: 350px;
  height: 100%;
  min-width: 1%;
  margin: 1em;
  border-radius: 20px;
  padding: 1em;

}

/* Temp css for displaying a chart on a single row */
.single-mainpage-row { 
  min-height: 300px;
  padding: 25 25 25 25;
  display: flex;
  border-radius: 20px;
  justify-content: center;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,.3); */
  margin: 1em;
}

/* Temp css for displaying a chart on a single row */
.single-mainpage-row-item { 
  width: 70%;
  min-width: 1%;
  margin: 1em;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 1em;
}

.button-blue {
  color: white;
  background-color: blue;
  border-width: 0;
}

.add-graph-button {
  justify-content: center;
  align-content: center;
  height: 150px;
  width: 180px;
}

.hee{
  background-color: #35967c;
}

.abutton{
  display: flex;
  justify-content: center;
}

.abutton button {
  background-color: rgb(44, 114, 206);
  border-style: none;
  padding: .5em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.abutton button:hover{
  background-color: rgb(31, 95, 179);
}

#chart-select {
  height: 100%;
}

a.active{
  text-decoration: underline;
  color: #245148;
}

/* Overview Page */

.overview-row {
  min-height: 300px;
  padding: 25 25 25 25;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,.3); */
  margin: 1em;
}

.overview-row-item {
  width: 100%;
  min-width: 1%;
  margin: 1em;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 1em;
  /* border: solid black 1px; */
}

#chart-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

a.cancel {
  /* height: 37px; */
  margin: 0px 0px 10px 57px;
  background-color: #2d8069;
  color: #fefefe;
  border: none;
  border-radius: 4px;
  width: 50px;
  padding: 6px 6px 6px 6px;
  
}

a.te{
  width:100px;
  display:flex;
  float: left;
  margin: 2em;
}

a.te:hover{
text-decoration: underline;
}

.edit-button{
  float: right;
  margin-right: 0.5em;
  text-decoration: underline;
}

.edit-button:hover{
  color: #1b5546;
}

/* POPOUT CHART */

/* box-sizing: {border-box;} */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #35967c;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 7px solid #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
  z-index: 10;
}

/* Add styles to the form container */
.form-container {
  /* max-width: 300px; */
  padding: 10px;
  background-color: white;
}

/* Set a style for the submit/login button */
.form-container .btn {
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel1 {
  background-color: red;
}

.form-container .timestamp {
  background-color: #35967c;
}


/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Dashboard CSS */

  .grid-stack-item .delete-widget {
    background-color: #f44336;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    line-height: 22px;
    border-radius: 50%;
  }
  
  .grid-stack-item .delete-widget:hover {
    background-color: #d32f2f;
  }

.grid-stack{
  min-width: 775px;
}