
html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: rgb(232, 232, 232);
}

#mainpage { 
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.mainpage-row {
  background-color: white;

  min-height: 300px;
  max-height: 450px ;
  height: 100%;
  width: 95%;

  margin: 1em;
  padding: 2em;

  display: flex;
  justify-content: space-around;
  align-content: center;

  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,.3);
}

.mainpage-row-item { 
  margin: .5em;
  border: 1px solid black;
  width: 100%
}

/* NOTE: Below is how I get the boxes to shrink the same however if you notice the graph doesn't increase in size, if anyone can find a solution that would be great */

#canvas-holder{
  width: fit-content;
}

#chart{
  width: fit-content;
}

button {
  font-size: 20px;
  height: 30px;
  border-width:0;
  color: blue;
  background-color: rgb(50, 193, 50);
}

.button-blue { 
  border-width:0;
  color: white;
  background-color:blue;

}

h2,.h2,h3,.h3,h5,.h5,h6,.h6 {
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-rendering: optimizeLegibility;
  margin: 0;
}

a {
  text-decoration: none;
}

.add-graph-button{
  background-color: blue;
  justify-content: center;
  align-content: center;
  height:50px;
  width:80px;
}

#chart-select{
  height: 100%;
}